header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    border: 1px solid #e4e2e2;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.08);
   position: fixed;
   top: 0;
   background-color: #ffffff;
   z-index: 200;
}

.left-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.hanburger{
    width: 30px;
}

.youtube-logo{
    width: 120px;
}

.middle-section{
    flex: 1;
    max-width: 500px;
    height: 50px;
    border: 1px solid #262626;
    display: flex;
    flex-direction: row;
     border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}



.middle-section input{
    flex: 1;
    height: 45px;
    border: 1px solid #c7c6c6;
    width: 0;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.08);
    padding-left: 20px;
     
}

input::placeholder{
    font-size: 18px;

}

.btn{
    width: 60px;
    height: 50px;
    border: none;
    margin-left: -1px;
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.tool-tip{
    position: absolute;
    bottom: -22px;
    width: 70px;
    height: 20px;
    background-color: rgb(209, 209, 209);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
     font-size: 12px;
}


.btn:hover .tool-tip{
    opacity: 1;
}






.btn img{
width: 30px;
}



.voice-con{
    width: 40px;
    height: 40px;
    border-radius: 20px;
     background-color: rgb(235, 235, 235);
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 20px;
     border: none;
     position: relative;
    
    

}

.vs{
    position: absolute;
    bottom: -30px;
    width: 95px;
    height: 32px;
    background-color: rgb(214, 212, 212);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 25px;
    opacity: 0;
    font-size: 12px;
   

}

.voice-con:hover .vs{
    opacity: 1;
}


.voice-con img{
    width: 25px;
}

.right-section{
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 20px;
     
}


.library{
    width: 25px;
    position: relative;
  
}


.upload{
    position: absolute;
    bottom: -30px;
    margin-left: -40px;
    width: 95px;
    height: 28px;
    background-color: rgb(214, 212, 212);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    font-size: 12px;
  
}

.school:hover .upload{
    opacity: 1;
}

   .main{
    position: relative;
   }



.home{
   position: absolute;
   left: -20px;
   background-color: rgb(199, 198, 198);
   width: 70px;
   height: 28px;
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 0;
   pointer-events: none;
   font-size: 12px;
}



.main:hover .home{
    opacity: 1;
}


.main:hover .home{
      opacity: 1;
}

   .tool-tip-3{
    position: relative;
}


.mat{
    position: absolute;
    width: 100px;
    height: 25px;
    margin-left: -40px;
    background-color: rgb(207, 205, 205);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    font-size: 12px;
}


.tool-tip-3:hover .mat{
opacity: 1;
}



.notify {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: rgb(194, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    right: -4px;
    font-size: 13px;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 20px;

}

 
