header{
    width: 100%;
    height: 70px;
    background-color: white;
    border: 1px solid #f7f7f7;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.loader1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}

.logo{
    width: 60px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

li{
    cursor: pointer;
}

li:hover{
    color: blue;
}


.BUTTON-CON{
   padding-right: 30px;
}

.btn{
    padding: 10px 15px 10px 15px;
    background-color: blue;
    color: #ffffff;
    border: none;
}