.all-thumbnails{
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 80px;
    z-index: 2;
}



.thumb-nail{
    width: 100%;
    position: relative;
}

.thumb-nail img{
    width: 100%;
}


.timing{
    position: absolute;
    right: 0;
    bottom: 15px;
    background-color: #000;
    color: #ffffff;
    padding: 5px;
    font-size: 12px;
    border-radius: 5px;
    margin-right: 10px;
}


.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}

.inner-paragraph{
    margin-left: 20px;
}

.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}


.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}


.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}


.thumb-nail{
    width: 100%;
    
  
  
}


 .dan{
   top: 0;
   left: 80px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
 }


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}




.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}


.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}

.inner-paragraph h2{
    margin-bottom: 15px;
}



.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}




.thumbnail{
    width: 300px;
    height: 350px;
    background-color: white;
    box-shadow: 1px 2px 5px rgba(236, 235, 235, 0.5);
}



.thumb-nail{
    width: 100%;
}


.thumb-nail img{
    width: 100%;
}

.inner-div{
    display: flex;
    flex-direction: row;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
}

.main-tool-tip{
    position: absolute;
    bottom: -130px;
    background-color: #ffffff;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 230px;
    height: 70px;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    pointer-events: none;
}

.profile:hover .main-tool-tip{
    opacity: 1;
}


.main-tool-tip img{
      width: 50px;
    height: 50px;
     border-radius: 50%;
}

.main-para{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.paragraph-cap{
    font-size: 14px;
    color: #000;
    font-weight: bold;
    margin-bottom: 10px;
}

.Subscribers{
    font-size: 13px;
    color: gray;
}


.profile img{
    width: 40px;
    height: 40px;
     border-radius: 50%;
}


.inner-paragraph{
    margin-left: 20px;
}


.inner-paragraph p{
    font-size: 13px;
    color: rgb(100, 99, 99);
}





@media(max-width:1100px) {
    .all-thumbnails{
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 80px;
}

}

@media(max-width:755px) {
     .all-thumbnails{
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 80px;
}

}


@media(max-width:530px) {
     .all-thumbnails{
    margin-left: 120px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    margin-top: 80px;
}

}

<a href="https://www.youtube.com/watch?v=n2RNcPRtAiY"><img class="thumbnail" src="thumbnails/thumbnail-1.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=mP0RAo9SKZk"><img class="thumbnail" src="thumbnails/thumbnail-2.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=FgjPQQeTh1w"><img class="thumbnail" src="thumbnails/thumbnail-3.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=094y1Z2wpJg"><img class="thumbnail" src="thumbnails/thumbnail-4.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=86CQq3pKSUw"><img class="thumbnail" src="thumbnails/thumbnail-5.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=yXWw0_UfSFg"><img class="thumbnail" src="thumbnails/thumbnail-6.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=fNVa1qMbF9Y"><img class="thumbnail" src="thumbnails/thumbnail-7.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=ixmxOlcrlUc"><img class="thumbnail" src="thumbnails/thumbnail-9.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=R2vXbFp5C9o"><img class="thumbnail" src="thumbnails/thumbnail-10.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=0nZuYyXET3s"><img class="thumbnail" src="thumbnails/thumbnail-11.webp" alt=""></a>

<a href="https://www.youtube.com/watch?v=9iMGFqMmUFs"><img class="thumbnail" src="thumbnails/thumbnail-12.webp" alt=""></a>