header{
    width: 100%;
    height: 70px;
    background-color: white;
    border: ipx solid #ffffff;
    justify-content: space-between;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}

.match1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
}

.logo{
    width: 60px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

li:hover{
    color: blue;
}

li{
cursor:
pointer;
}

.btn{
    padding: 10px 15px 10px 15px;
    background-color: blue;
    color: #ffffff;
    border: none;
    font-size: none;
    
}

