
.parent{
    width: 750px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

.picture{
    width: 250px;
}


input{
    padding-right: 700px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 50px;
    background-color: black(39, 38, 38);
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    display: block;
    margin-top: 40px
}

.bnt{
    background-color: white(231 230 230);
    padding: 15px 20px 15px 20px;
    border: none;
}

.div-1{
    margin-left:300px;
}

.div-2{
    margin-left: 300px;
    margin-top: 30px;
}