body{
    height: 3000px;
}

.container{
    background-color: white;
    width: 350px;
    height: 1000px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.15);
    position: fixed;
    
    
    
}

.img-con{
    background-color: black;
    width: 150px;
    height: 800px;
    justify-content: center;
    
   
}

.cat1 img{
    width: 80px;
    height: 80px;
   border-radius: 40px;
 
}

.cat3 img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-top: 20px;
}

.good img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-top: 20px;
    margin-left: 30px;
}


.item-con{
    background-color: rgb(61, 58, 58);
    flex-direction: row;
    align-items: start;
    width: 170px;
    height: 800px;
    display: inline-block;
    
    
}

.good{
    display: flex;


}

.house{
   color: white;
   margin-left: 40px;
   margin-bottom: 40px
}

.qr{
    color: white;
    margin-left: 40px;
    margin-bottom: 40px;
}

.we{
    color: white;
    margin-left: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.d3{
    color: white;
    margin-left: 40px;
    font-size: 20px;
   
}

.yu{
    margin-left: 40px;

}




