*{
   margin: 0;
   padding: 0;
}

.brand-partner{
    background-color: white;
    width: 620px;
    height: 650px;
    margin: 0 auto;
   box-shadow: 0 4px 10px rgba(0, 0, 0,  0.1);
   display: grid;
    grid-template-columns: repeat(3, 1fr);
   padding: 20px 10px 20px 10px;
   background-color: rgb(212, 52, 3);
}

.p1{
   font-weight: bold;
   font-size: 18px;
   text-align: center;
}

.p3{
    color: white ;
    background-color: rgb(212, 52, 3);
   width: 650px;
    height: 35px;
    display: flex;
   align-items: center;
   justify-content: center;
}

.header{
   background-color: black;
   color: white;
   text-align: center;
    width: 640px;
   margin: 0 auto;
   
}

.text{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 40px;
}


.text p{
   padding: 0;
   margin: 0;
}



/*  This code is not usable*/

/*

.grind-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    background-color: lightpink
   
    

 }

 

 .image-wrapper1 img{
    max-width: 120px;
    max-height: 120px;
    background-color: rgb(236, 74, 10);
    object-fit: contain;

 }

 
 .image-wrapper2 img{
    max-width: 1opx;
    max-height: 10px;
    background-color: goldenrod;
    object-fit: contain;

 }


 
 .image-wrapper3 img{
    max-width: 80px;
    max-height: 80px;
    background-color: goldenrod;
    object-fit: contain;

 }

 
 .image-wrapper4 img{
    max-width: 80px;
    max-height: 80px;
    background-color: blue;
    object-fit: contain;

 }

 
 .image-wrapper5 img{
    max-width: 80px;
    max-height: 80px;
    background-color: white;
    object-fit: contain;

 }

 
 .image-wrapper6 img{
    max-width: 80px;
    max-height: 80px;
    background-color: white;
    object-fit: contain;

 }
 

 
 .image-wrapper7 img{
    max-width: 80px;
    max-height: 80px;
    background-color: white;
    object-fit: contain;

 }

 
 .image-wrapper8 img{
    max-width: 80px;
    max-height: 80px;
    background-color: white;
    object-fit: contain;

 }

 
 .image-9 img{
    max-width: 80px;
    max-height: 80px;
    background-color: white;
    object-fit: contain;

 }
 .brand-name{
    font-weight: bold;
    font-size: 16px;
    color: white;
    margin: 0;
 }

 .header{
   margin-left: 500px;
   background-color: black;
   color: white;
   width: 600px;
   height: 40px;
   margin-bottom: 5px
  
   

 }


 .p1{
   font-size: 25px;
   font-weight: bold;
   margin-right: 4oopx;
   text-align: center;
   margin-top: -80px;
 }

 .p2{
   text-align: center;
   margin-top: 30px;
 }

 .p3{
   text-align: center;
   background-color: rgb(255, 51, 0);
   width: 300px;
   height: 30px;
   color: white;
   margin-left: 500px;
 }

 */

 .Brand-card1{
   width: 200px;
   position: relative;
 }


 .brand-name{
   position: absolute;
   top: 0;
   left: 80px;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   background-color: blue;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;

 }

 .zab p{
         color: white;
         font-weight: bold;
 }

 .abs p{
   color: white;
   font-weight: bold;
 }

  .Brand-card1 .image-wrapper1{
      width: 100%;
  }

    .Brand-card1 .image-wrapper1 img{
      width: 100%;
    }

    .image-wrapper2 img{
      width: 195px;
      height: 200px;
    }




 