
.cat-photo{
            width: 600px;
            height: 400px;
            background-color: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
            margin-top: 50PX;
            padding-right: 20px;
            padding-top: 20px;
}

.child1{
    display: flex;
    justify-content: space-between;
    
}

.child1 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   margin-left: 20px;
   text-align: justify;
   display: flex;
   align-items: center;
   
}

.div1-image{
     display: flex;
    justify-content: space-between;
    align-items: center;
}


.div1-image img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
   
}

.div1-image time{
    font-weight: lighter;
}


.div1-image p{
    font-size: 20px;
    font-weight: bold;
    width: 250px;
}
     
.h1{
    font-size: 40px;
    font-weight: lighter;
}
 

.fast{
   font-size: 20px;
   font-weight: lighter;
   padding-left: 90px;
}




.cat3{
    display: flex;
    justify-content: space-between;
    
}

.cat3 p{
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 0;
   padding: 0;
   margin-left: 20px;
   padding-top: 30px;
   text-align: justify;
   display: flex;
   align-items: center;
   
}

.div2-image{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.div2-image img{
        width: 80px;
        height: 80px;
        border-radius: 40px;
        
        }
    
       .div2-image p{
        font-size: 20px;
        font-weight: bold;
        width: 350px;
       } 


        .div2-image .time{
        font-weight: lighter;
        font-size: 25px
       }



       .child3{
        display: flex;
        justify-content: space-between;
       

       }

        .div3-image{
      display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
   
}
            
            

       .div3-image img{
            width: 80px;
            height: 80px;
            border-radius: 40px;
       }

    .div3-image p{
        font-size: 20px;
        width: 250px;
        font-weight: bold;
    }

    .child3 p{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin: 0;
        padding: 0;
        margin-left: 20px;
        padding-top: 60px;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
     
    }

    .div3-image time{
        padding-left: 20px;
    }


.container{
    width: 650px;
    height: 300px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    font-family: Arial, sans-serif;
}



.cat-cover img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
}

.cover-para{
    font-size: 20px;
}


.para{
    margin-right: 20px;
}


.s1{
    font-size: 20px;
    font-weight: bold;
}

.s2{
   font-size: 20px;
    color: rgb(128, 126, 126);
}

.cover-two{
    margin-left: 30px;
}

.second-cover{
    display: flex;
    flex-direction: row;
}

.empty-con{
    width: 180px;
    height: 130px;
    background-color: rgb(182, 181, 181);
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border: none;
}

.second-cover-child{
    width: 300px;
    height: 130px;
      box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.15);
      background-color: white;
      border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: -1px;
}

.youtube-con{
    margin-left: 20px;
}

.g3{
    font-size: 20px;
    font-weight: bold;
}