.parent{
    width: 750px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

.car{
    width: 250px;
}

input{
    padding-top: 15px;
    padding-right: 700px;
    padding-bottom: 15px;
    border-radius: 50px;
    background-color: white;
    border: none;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    display: block;
    margin-top: 40px ;
    
}

.btn{
   background-color: rgb(red, green, blue);
   padding: 15px, 20px, 15px, 20px;
   border: none;

}
.div-1{
    margin-left: 300px;
}

.div-2{
    margin-left: 300px;
    margin-top: 30px;
}